<a href="https://colab.research.google.com/github/calliopz/MachineLearning/blob/master/Tabula_Demografia_Medica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/53/a4/66add528eca00398af98f181772006750019eb9f2d68c7c6fdd53ba661c5/tabula_py-2.1.0-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.8MB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.2)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.0

In [0]:
import tabula
import pandas as pd

In [0]:
file = "/content/demografia_medica.pdf"

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

In [7]:
df = tabula.read_pdf(file, stream=True, guess=False, pages=41, 
                     area=(290, 20, 740, 600))[0]
df

            UF Feminino  Unnamed: 0     %  Masculino   %.1    Total
0               Alagoas       2.389  52,2      2.186  47,8    4.575
1        Rio de Janeiro      30.170  50,8     29.196  49,2   59.366
2            Pernambuco       8.121  49,6      8.260  50,4   16.381
3      Distrito Federal       6.293  47,6      6.922  52,4   13.215
4               Paraíba       3.208  47,5      3.545  52,5    6.753
5               Sergipe       1.767  46,4      2.039  53,6    3.806
6                 Bahia       9.595  46,3     11.113  53,7   20.708
7                 Amapá       2.234  46,1      2.610  53,9    4.844
8        Espírito Santo       4.427  45,9      5.218  54,1    9.645
9             São Paulo      57.488  45,4     69.199  54,6  126.687
10                 Pará       3.658  45,2      4.432  54,8    8.090
11  Rio Grande do Norte       2.543  43,9      3.249  56,1    5.792
12    Rio Grande do Sul      12.573  43,5     16.358  56,5   28.931
13         Minas Gerais      20.835  42,9     27.771  57,1   48.606
14                Ceará       5.420  42,8      7.232  57,2   12.652
15              Roraima     339.000  41,5    477.000  58,5  816.000
16               Paraná       9.604  40,6     14.057  59,4   23.661
17   Mato Grosso do Sul       2.180  39,5      3.345  60,5    5.525
18            Tocantins       1.018  39,4      1.565  60,6    2.583
19             Rondônia       1.076  39,2      1.668  60,8    2.744
20          Mato Grosso       2.133  39,2      3.303  60,8    5.436
21             Maranhão       2.378  39,0      3.718  61,0    6.096
22                 Acre     377.000  39,0    589.000  61,0  966.000
23       Santa Catarina       6.147  38,8      9.691  61,2   15.838
24                Goiás       5.139  38,5      8.221  61,5   13.360
25                Amapá     313.000  37,2    528.000  62,8  841.000
26                Piauí       1.430  37,0      2.430  63,0    3.860

In [0]:
df.columns

Index(['UF Feminino', 'Unnamed: 0', '%', 'Masculino', '%.1', 'Total'], dtype='object')

In [0]:
df = df.rename(columns={"UF Feminino": "UF", 
                   "Unnamed: 0": "Feminino",
                   "%": "%",
                   "Masculino": "Masculino",
                   "%.1": "%",
                   "Total": "Total"})
df.head(5)

                 UF  Feminino     %  Masculino     %   Total
0           Alagoas     2.389  52,2      2.186  47,8   4.575
1    Rio de Janeiro    30.170  50,8     29.196  49,2  59.366
2        Pernambuco     8.121  49,6      8.260  50,4  16.381
3  Distrito Federal     6.293  47,6      6.922  52,4  13.215
4           Paraíba     3.208  47,5      3.545  52,5   6.753

In [0]:
df.to_csv("medicos_regiao.csv")

In [0]:
df = tabula.read_pdf(file, stream=True, guess=False, pages=43, 
                     area=(265, 20, 740, 445))[0]
df

                     UF Média Desvio-padrão
0               Alagoas  49,5          13,9
1               Paraíba  47,5          15,0
2        Rio de Janeiro  47,3          14,1
3                 Amapá  46,7          13,4
4     Rio Grande do Sul  46,4          13,9
5                  Pará  46,3          14,0
6   Rio Grande do Norte  46,3          14,1
7               Sergipe  46,0          13,4
8            Pernambuco  45,9          14,4
9              Maranhão  45,6          14,3
10                Bahia  45,5          13,6
11       Espírito Santo  45,4          13,7
12            São Paulo  45,3          13,7
13                Piauí  45,1          14,1
14     Distrito Federal  44,6          13,1
15         Minas Gerais  44,5          13,5
16             Amazonas  44,5          13,4
17               Paraná  44,3          13,3
18       Santa Catarina  44,2          13,0
19          Mato Grosso  44,1          13,2
20   Mato Grosso do Sul  44,1          13,8
21                Ceará  44,1          14,1
22                Goiás  43,9          13,8
23            Tocantins  43,7          13,0
24                 Acre  43,7          12,5
25              Roraima  43,6          12,9
26             Rondônia  42,9          13,1
27               Brasil  45,4          13,7

In [0]:
df.columns

Index(['UF', 'Média', 'Desvio-padrão'], dtype='object')

In [0]:
df.to_csv("medicos_idade.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

In [0]:
df = tabula.read_pdf(file, stream=True, guess=False, pages=45, 
                     area=(100, 60, 740, 580))[0]
df

             Unnamed: 0   Médicos      %   População1    %.1 Razão
0                Brasil  451.7770  100,0  207.660.929  100,0  2,18
1          Região Norte   20.8840    4,6   17.936.201    8,6  1,16
2              Rondônia    2.7440    0,6    1.805.788    0,9  1,52
3                  Acre  966.0000    0,2      829.619    0,4  1,16
4              Amazonas    4.8440    1,1    4.063.614    2,0  1,19
5               Roraima  816.0000    0,2      522.636    0,3  1,56
6                  Pará    8.0900    1,8    8.366.628    3,9  0,97
7                 Amapá  841.0000    0,2      797.722    0,4  1,05
8             Tocantins    2.5830    0,6    1.550.194    0,7  1,67
9       Região Nordeste   80.6230   17,8   57.254.159   27,6  1,41
10             Maranhão    6.0960    1,3    7.000.229    3,4  0,87
11                Piauí    3.8600    0,9    3.219.257    1,6  1,20
12                Ceará   12.6520    2,8    9.020.460    4,3  1,40
13  Rio Grande do Norte    5.7920    1,3    3.507.003    1,7  1,65
14              Paraíba    6.7530    1,5    4.025.558    1,9  1,68
15           Pernambuco   16.3810    3,6    9.473.266    4,6  1,73
16              Alagoas    4.5750    1,0    3.375.823    1,6  1,36
17              Sergipe    3.8060    0,8    2.288.116    1,1  1,66
18                Bahia   20.7080    4,6   15.344.447    7,4  1,35
19       Região Sudeste   24.4304   54,1   86.949.714   41,9  2,81
20         Minas Gerais   48.6060   10,8   21.119.536   10,2  2,30
21       Espírito Santo    9.6450    2,2    4.016.356    1,9  2,40
22       Rio de Janeiro   59.3660   13,1   16.718.956    8,1  3,55
23            São Paulo  126.6870   28,0   45.094.866   21,7  2,81
24           Região Sul   68.4300   15,2   29.644.948   14,3  2,31
25               Paraná   23.6610    5,2   11.320.892    5,4  2,09
26       Santa Catarina   15.8380    3,5    7.001.161    3,4  2,26
27    Rio Grande do Sul   28.9310    6,5   11.322.895    5,5  2,56
28  Região Centro-Oeste   37.5360    8,3   15.875.907    7,6  2,36
29   Mato Grosso do Sul    5.5250    1,2    2.713.147    1,2  2,04
30          Mato Grosso    5.4360    1,2    3.344.544    1,6  1,63
31                Goiás   13.3600    3,0    6.778.772    3,3  1,97
32     Distrito Federal   13.2150    2,9    3.039.444    1,5  4,35

In [0]:
df.columns

Index(['Unnamed: 0', 'Médicos', '%', 'População1', '%.1', 'Razão'], dtype='object')

In [0]:
df = df.rename(columns={"Unnamed: 0": "Região", 
                   "Médicos": "Médicos",
                   "%": "%",
                   "População1": "População",
                   "%.1": "%",
                   "Razão": "Razão"})
df.head(5)

         Região  Médicos      %    População      % Razão
0        Brasil  451.777  100,0  207.660.929  100,0  2,18
1  Região Norte   20.884    4,6   17.936.201    8,6  1,16
2      Rondônia    2.744    0,6    1.805.788    0,9  1,52
3          Acre  966.000    0,2      829.619    0,4  1,16
4      Amazonas    4.844    1,1    4.063.614    2,0  1,19

In [0]:
df.to_csv("razao_medico_populacao.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=48, 
                     area=(100, 60, 740, 560))[0]
df

             Unnamed: 0  Médicos     %*    %**   População  %**.1  Razão
0              Capitais  248.948   55,1  100,0  49.475.310  100,0   5,07
1          Região Norte   15.016   71,9    6,0   5.578.931   11,3   2,73
2           Porto Velho    1.549   56,5    0,6     519.436    1,1   3,03
3            Rio Branco  746.000   77,2    0,3     383.443    0,8   1,98
4                Manaus    4.508   93,1    1,8   2.130.264    4,3   2,15
5             Boa Vista  710.000   87,0    0,3     332.020    0,7   2,18
6                 Belém    5.635   69,7    2,3   1.452.275    2,8   3,90
7                Macapá  753.000   89,5    0,3     474.706    1,0   1,62
8                Palmas    1.115   43,2    0,4     286.787    0,6   3,98
9       Região Nordeste   56.481   70,1   22,7  12.533.244   25,3   4,54
10             São Luís    4.384   71,9    1,8   1.091.868    2,2   4,05
11             Teresina    3.030   78,5    1,3     850.198    1,7   3,58
12            Fortaleza    9.533   75,3    3,8   2.627.482    5,3   3,65
13                Natal    4.220   72,9    1,7     885.180    1,8   4,81
14          João Pessoa    4.107   60,8    1,6     811.598    1,6   5,12
15               Recife   11.624   71,0    4,7   1.633.697    3,3   7,15
16               Maceió    3.858   84,3    1,5   1.029.129    2,1   3,78
17              Aracaju    3.493   91,8    1,4     650.106    1,3   5,44
18             Salvador   12.232   59,1    4,9   2.953.986    6,0   4,16
19       Região Sudeste  120.462   49,3   48,4  21.514.120   43,5   5,63
20       Belo Horizonte   17.906   36,8    7,2   2.523.794    5,1   7,12
21              Vitória    4.410   45,7    1,8     363.140    0,7  12,27
22       Rio de Janeiro   38.212   64,4   15,3   6.520.266   13,2   5,88
23            São Paulo   59.934   47,3   24,1  12.106.920   24,5   4,98
24           Região Sul   28.886   42,2   11,6   3.879.138    7,8   7,50
25             Curitiba   10.867   45,9    4,3   1.908.359    3,8   5,74
26        Florianópolis    4.626   29,2    1,9     485.838    1,0   9,68
27         Porto Alegre   13.393   46,3    5,4   1.484.941    3,0   9,04
28  Região Centro-Oeste   28.103   74,9   11,3   5.969.877   12,1   4,78
29         Campo Grande    3.183   57,6    1,3     874.210    1,8   3,68
30               Cuiabá    2.739   50,4    1,1     590.118    1,2   4,68
31              Goiânia    8.966   67,1    3,6   1.466.105    3,0   6,19
32             Brasília   13.215  100,0    5,3   3.039.444    6,1   4,44

In [0]:
df.columns

Index(['Unnamed: 0', 'Médicos', '%*', '%**', 'População', '%**.1', 'Razão'], dtype='object')

In [0]:
df = df.rename(columns={"Unnamed: 0": "Capitais", 
                   "Médicos": "Médicos",
                   "%*": "% (em relação ao estado)",
                   "%**": "% (em relação ao país)",
                   "População": "População",
                   "%**.1": "% (em relação ao país)",
                   "Razão": "Razão"})
df.head(5)

       Capitais  Médicos  ... % (em relação ao país) Razão
0      Capitais  248.948  ...                  100,0  5,07
1  Região Norte   15.016  ...                   11,3  2,73
2   Porto Velho    1.549  ...                    1,1  3,03
3    Rio Branco  746.000  ...                    0,8  1,98
4        Manaus    4.508  ...                    4,3  2,15

[5 rows x 7 columns]

In [0]:
df.to_csv("razao_medico_capital.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=49, 
                     area=(110, 60, 760, 560))[0]
df

             Unnamed: 0  Médicos    %*    %**    População  %**.1 Razão
0              Interior  202.829  44,9  100,0  158.185.619  100,0  1,28
1          Região Norte    5.868  28,1    2,9   12.357.270    7,8  0,47
2              Rondônia    1.195  43,5    0,6    1.286.352    0,8  0,93
3                  Acre      220  22,8    0,1      446.176    0,3  0,49
4              Amazonas      336   6,9    0,2    1.933.350    1,2  0,17
5               Roraima      106  13,0    0,1      190.616    0,1  0,56
6                  Pará    2.455  30,3    1,2    6.914.353    4,4  0,36
7                 Amapá       88  10,5    0,0      323.016    0,2  0,27
8             Tocantins    1.468  56,8    0,7    1.263.407    0,8  1,16
9       Região Nordeste   24.142  29,9   11,9   44.720.915   28,2  0,54
10             Maranhão    1.712  28,1    0,8    5.908.361    3,7  0,29
11                Piauí      830  21,5    0,4    2.369.059    1,5  0,35
12                Ceará    3.119  24,7    1,5    6.392.978    4,0  0,49
13  Rio Grande do Norte    1.572  27,1    0,8    2.621.823    1,7  0,60
14              Paraíba    2.646  39,2    1,3    3.213.960    2,0  0,82
15           Pernambuco    4.757  29,0    2,3    7.839.569    5,0  0,61
16              Alagoas      717  15,7    0,4    2.346.694    1,5  0,31
17              Sergipe      313   8,2    0,2    1.638.010    1,0  0,19
18                Bahia    8.476  40,9    4,2   12.390.461    7,8  0,68
19       Região Sudeste  123.842  50,7   61,0   65.435.594   41,4  1,89
20         Minas Gerais   30.700  63,2   15,1   18.595.742   11,8  1,65
21       Espírito Santo    5.235  54,3    2,6    3.653.216    2,3  1,43
22       Rio de Janeiro   21.154  35,6   10,4   10.198.690    6,5  2,07
23            São Paulo   66.753  52,7   32,9   32.987.946   20,8  2,02
24           Região Sul   39.544  57,8   19,5   25.765.810   16,3  1,53
25               Paraná   12.794  54,1    6,3    9.412.533    6,0  1,36
26       Santa Catarina   11.212  70,8    5,5    6.515.323    4,1  1,72
27    Rio Grande do Sul   15.538  53,7    7,6    9.837.954    6,2  1,58
28  Região Centro-Oeste    9.433  26,1    4,7    9.906.030    6,3  0,99
29   Mato Grosso do Sul    2.342  42,4    1,2    1.838.937    1,2  1,47
30          Mato Grosso    2.697  49,6    1,3    2.754.426    1,7  0,98
31                Goiás    4.394  32,9    2,2    5.312.667    3,4  0,83
32             Brasília        –     –      –            –      –     –

In [0]:
df.columns

Index(['Unnamed: 0', 'Médicos', '%*', '%**', 'População', '%**.1', 'Razão'], dtype='object')

In [0]:
df = df.rename(columns={"Unnamed: 0": "Interior", 
                   "Médicos": "Médicos",
                   "%*": "% (em relação ao estado)",
                   "%**": "% (em relação ao país)",
                   "População": "População",
                   "%**.1": "% (em relação ao país)",
                   "Razão": "Razão"})
df.head(5)

       Interior  Médicos  ... % (em relação ao país) Razão
0      Interior  202.829  ...                  100,0  1,28
1  Região Norte    5.868  ...                    7,8  0,47
2      Rondônia    1.195  ...                    0,8  0,93
3          Acre      220  ...                    0,3  0,49
4      Amazonas      336  ...                    1,2  0,17

[5 rows x 7 columns]

In [0]:
df.to_csv("razao_medico_interior.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=111, 
                     area=(100, 60, 760, 560))[0]
df

             Especialidade Número de títulos  Unnamed: 0      % % acumulado
0                             Clínica Médica      42.728   11,2        11,2
1                                  Pediatria      39.234   10,3        21,5
2                             Cirurgia Geral      34.065    8,9        30,4
3                  Ginecologia e Obstetrícia      30.415    8,0        38,4
4                             Anestesiologia      23.021    6,0        44,4
5                       Medicina do Trabalho      15.895    4,2        48,6
6                  Ortopedia e Traumatologia      15.598    4,1        52,7
7                                Cardiologia      15.516    4,1        56,7
8                               Oftalmologia      13.825    3,6        60,4
9        Radiologia e Diagnóstico por Imagem      12.233    3,2        63,6
10                               Psiquiatria      10.396    2,7        66,3
11                              Dermatologia       8.317    2,2        68,5
12                        Medicina Intensiva       6.562    1,7        70,2
13                      Otorrinolaringologia       6.373    1,7        71,9
14                         Cirurgia Plástica       6.304    1,7        73,5
15          Medicina de Família e Comunidade       5.486    1,4        75,0
16                                  Urologia       5.328    1,4        76,4
17                       Medicina de Tráfego       5.221    1,4        77,7
18              Endocrinologia e Metabologia       5.210    1,4        79,1
19                                Neurologia       5.104    1,3        80,4
20                         Gastroenterologia       4.881    1,3        81,7
21                                Nefrologia       4.474    1,2        82,9
22                         Cirurgia Vascular       4.301    1,1        84,0
23                              Infectologia       3.746    1,0        85,0
24                                Acupuntura       3.598    0,9        85,9
25                         Oncologia Clínica       3.583    0,9        86,9
26                               Pneumologia       3.412    0,9        87,8
27                             Neurocirurgia       3.298    0,9        88,6
28                                 Patologia       3.210    0,8        89,5
29                                Endoscopia       3.184    0,8        90,3
30            Cirurgia do Aparelho Digestivo       2.864    0,8        91,1
31                 Hematologia e Hemoterapia       2.668    0,7        91,8
32                                Homeopatia       2.617    0,7        92,4
33                              Reumatologia       2.383    0,6        93,1
34                   Cirurgia Cardiovascular       2.271    0,6        93,7
35                                Mastologia       2.219    0,6        94,2
36                           Coloproctologia       1.950    0,5        94,8
37              Medicina Preventiva e Social       1.863    0,5       95.,2
38                                 Geriatria       1.817    0,5        95,7
39                                Nutrologia       1.692    0,4        96,2
40                               Angiologia*       1.633    0,4        96,6
41                      Alergia e Imunologia       1.601    0,4        97,0
42  Patologia Clínica/Medicina Laboratorial*       1.450    0,4        97,4
43                       Cirurgia Pediátrica       1.378    0,4        97,8
44                       Cirurgia Oncológica       1.190    0,3        98,1
45              Cirurgia de Cabeça e Pescoço       1.072    0,3        98,3
46                         Cirurgia Torácica     992.000    0,3        98,6
47                          Medicina Nuclear     915.000    0,2        98,8
48           Medicina Física e Reabilitação*     887.000    0,2        99,1
49                        Medicina Esportiva     869.000    0,2        99,3
50          Medicina Legal e Perícia Médica*     827.000    0,2        99,5
51                           Cirurgia da Mão     791.000    0,2        99,7
52                              Radioterapia     734.000    0,2        99,9
53                           Genética Médica     305.000    0,1       100,0
54                                     Total     381.506  100,0           –

In [0]:
df.columns

Index(['Especialidade Número de títulos', 'Unnamed: 0', '%', '% acumulado'], dtype='object')

In [0]:
df = df.rename(columns={"Especialidade Número de títulos": "Especialidade", 
                   "Unnamed: 0": "Número de títulos",
                   "%": "%",
                   "% acumulado": "% acumulado"})
df.head(2)

    Especialidade  Número de títulos     % % acumulado
0  Clínica Médica             42.728  11,2        11,2
1       Pediatria             39.234  10,3        21,5

In [0]:
df.to_csv("especialidades_n_titulos.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=112, 
                     area=(100, 60, 770, 560))[0]
df

                              Especialidade Média de idade Desvio-padrão
0                            Clínica Médica           42,6          11,7
1          Medicina de Família e Comunidade           42,8           9,9
2                       Cirurgia Oncológica           42,9           8,6
3                            Cirurgia Geral           44,1          11,8
4                         Oncologia Clínica           44,2          11,1
5                              Radioterapia           44,9          12,9
6                           Cirurgia da Mão           44,9          10,5
7                                 Geriatria           45,0          11,6
8                         Cirurgia Vascular           45,2          11,0
9                              Infectologia           45,2          10,7
10             Endocrinologia e Metabologia           45,4          11,5
11                               Mastologia           45,8          11,1
12           Cirurgia do Aparelho Digestivo           46,0          10,6
13      Radiologia e Diagnóstico por Imagem           46,1          11,7
14                             Dermatologia           46,1          11,6
15                          Genética Médica           46,2          12,0
16                Ortopedia e Traumatologia           46,2          12,2
17                     Otorrinolaringologia           46,3          12,0
18             Cirurgia de Cabeça e Pescoço           46,4          10,8
19                               Nefrologia           46,9          11,8
20                             Reumatologia           46,9          12,4
21                             Oftalmologia           47,1          11,9
22                Hematologia e Hemoterapia           47,2          11,7
23                          Coloproctologia           47,4          11,9
24                               Neurologia           47,5          13,1
25                         Medicina Nuclear           47,6          12,6
26                                Pediatria           47,9          12,6
27                        Cirurgia Plástica           48,4          11,6
28                              Psiquiatria           48,6          13,1
29                        Cirurgia Torácica           48,6          11,7
30                                 Urologia           48,7          11,9
31                       Medicina Intensiva           48,8          10,1
32                              Cardiologia           48,9          12,1
33                     Alergia e Imunologia           48,9          11,5
34                        Gastroenterologia           49,0          12,3
35                           Anestesiologia           49,2          12,5
36                               Endoscopia           49,3          10,9
37                            Neurocirurgia           49,4          12,5
38                Ginecologia e Obstetrícia           49,6          12,3
39                              Pneumologia           50,2          11,7
40                  Cirurgia Cardiovascular           51,0          10,2
41                                Patologia           51,1          12,7
42                      Cirurgia Pediátrica           51,1          11,6
43                       Medicina Esportiva           52,8          11,6
44                               Nutrologia           53,6          10,8
45                      Medicina de Tráfego           53,8          12,1
46           Medicina Física e Reabilitação           53,9          13,6
47                               Acupuntura           54,3          10,1
48                               Angiologia           54,4          10,7
49             Medicina Preventiva e Social           56,2          10,0
50                     Medicina do Trabalho           57,6          10,7
51  Patologia Clínica/Medicina Laboratorial           58,8          10,2
52          Medicina Legal e Perícia Médica           59,0           9,5
53                               Homeopatia           59,8           7,9

In [0]:
df.columns

In [0]:
df = df.rename(columns={"Unnamed: 0": "Capitais", 
                   "Médicos": "Médicos",
                   "%*": "% (em relação ao estado)",
                   "%**": "% (em relação ao país)",
                   "População": "População",
                   "%**.1": "% (em relação ao país)",
                   "Razão": "Razão"})
df.head(5)

In [0]:
df.to_csv("especialidades_idade.csv")

In [0]:
df = tabula.read_pdf(file, stream=True, guess=False, pages=114, 
                     area=(360, 20, 430, 495.4))[0]
df

Got stderr: Apr 01, 2020 4:05:37 AM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed

        Sexo  Generalistas     %  Especialistas   %.1    Total  Razão E/G
0   Feminino        72.382  38,2        116.899  61,8  189.281       1.59
1  Masculino        81.450  36,1        144.100  63,9  225.550       1.73

In [0]:
df.to_csv("especialistas_generalistas_sexo.csv")

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=108, 
                     area=(360, 0, 542, 485))[0]
df

Got stderr: Apr 01, 2020 3:55:24 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for H11091 (2) in font FDNEFI+Universal-GreekwithMathPi

   Faixa etária  Generalistas     %  Especialistas   %.1   Total  Razão E/G
0    ≤  29 anos        44.371  77,4         12.989  22,6  57.360       0.29
1  30 - 34 anos        27.461  41,6         38.630  58,4  66.091       1.41
2  35 - 39 anos        16.988  28,9         41.796  71,1  58.784       2.46
3  40 - 44 anos         9.860  22,6         33.746  77,4  43.606       3.42
4  45 - 49 anos         7.434  21,1         27.755  78,9  35.189       3.73
5  50 - 54 anos         8.420  23,8         27.021  76,2  35.441       3.21
6  55 a 59 anos         9.182  27,0         24.868  73,0  34.050       2.71
7  60 - 64 anos        11.432  32,1         24.156  67,9  35.588       2.11
8  65 - 69 anos        11.730  36,8         20.127  63,2  31.857       1.72
9       70 anos         6.954  41,2          9.911  58,8  16.865       1.43

In [0]:
df.columns

Index(['Faixa etária', 'Generalistas', '%', 'Especialistas', '%.1', 'Total',
       'Razão E/G'],
      dtype='object')

In [0]:
df = df.rename(columns={"%.1": "%"})
df.head(10)

   Faixa etária  Generalistas     %  Especialistas     %   Total  Razão E/G
0    ≤  29 anos        44.371  77,4         12.989  22,6  57.360       0.29
1  30 - 34 anos        27.461  41,6         38.630  58,4  66.091       1.41
2  35 - 39 anos        16.988  28,9         41.796  71,1  58.784       2.46
3  40 - 44 anos         9.860  22,6         33.746  77,4  43.606       3.42
4  45 - 49 anos         7.434  21,1         27.755  78,9  35.189       3.73
5  50 - 54 anos         8.420  23,8         27.021  76,2  35.441       3.21
6  55 a 59 anos         9.182  27,0         24.868  73,0  34.050       2.71
7  60 - 64 anos        11.432  32,1         24.156  67,9  35.588       2.11
8  65 - 69 anos        11.730  36,8         20.127  63,2  31.857       1.72
9       70 anos         6.954  41,2          9.911  58,8  16.865       1.43

In [0]:
df.to_csv("especialistas_generalistas_idade.csv")

In [0]:
tabula.read_pdf_with_template

In [0]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=52, 
                     area=(630, 60, 779, 660))[0]
df

  População por municipio  No de municípios  ...  População do estrato Razão
0               Até 5 mil             1.235  ...             4.184.601  0,30
1              5 a 10 mil             1.215  ...             8.664.121  0,32
2             10 a 20 mil             1.352  ...            19.379.074  0,39
3             20 a 50 mil             1.103  ...            33.526.377  0,67
4            50 a 100 mil           355.000  ...            24.658.771  1,16
5           100 a 500 mil           268.000  ...            54.622.975  2,14
6            + de 500 mil            42.000  ...            62.625.010  4,33
7                   Total             5.570  ...           207.660.929  2,17

[8 rows x 5 columns]

In [0]:
df.columns

Index(['População por municipio', 'No de municípios', 'No de médicos',
       'População do estrato', 'Razão'],
      dtype='object')

In [0]:
df.to_csv("medicos_por_mil_habitantes.csv")

In [23]:
#Area 

#1 = top
#2 = left
#3 = top + height
#4 = left + width

df = tabula.read_pdf(file, stream=True, guess=False, pages=54, 
                     area=(100, 0, 250, 760300))[0]
df

  Estrato municipal  No de municípios  ...    Ra1   Ra2
0      Região Norte               NaN  ...    NaN   NaN
1         Até 5 mil              77.0  ...   5,38  2,74
2        5 a 10 mil              80.0  ...   6,41  3,31
3       10 a 20 mil             106.0  ...  12,25  6,14
4       20 a 50 mil             115.0  ...   9,10  4,82
5      50 a 100 mil              45.0  ...   4,26  2,37
6     100 a 500 mil              23.0  ...   2,04  0,91
7      + de 500 mil               4.0  ...   0,63  0,43
8          Subtotal             450.0  ...      –     –

[9 rows x 11 columns]

In [24]:
df.columns

Index(['Estrato municipal', 'No de municípios', 'No de médicos', '%*', '%**',
       'População', '%*.1', '%**.1', 'Razão 1.000 hab.', 'Ra1', 'Ra2'],
      dtype='object')

In [0]:
df = tabula.read_pdf(file, stream=True, guess=False, pages=54,
                     names=['Estrato municipal', 'No de municípios', 'No de médicos', '%*', '%**',
       'População', '%*.1', '%**.1', 'Razão 1.000 hab.', 'Ra1', 'Ra2'],
                     area=(300, 0, 380, 760300))[0]
df

In [0]:
df.to_csv("xxx.csv")